body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container{
    width: 1000px;
    height: 1000px;
    border: 1px red solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.grid{
    border: 2px black solid;
}
.grid:hover{
    background-color: black;
}

